body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    width: 100%;
    overflow-x: hidden;
}

.navbar li {
    list-style-type: none;
    font-size: 1.1em;
    cursor: pointer;

    transition: ease-in-out 0.2s;
}

.navbar li:hover {
    color: violet;
}

.navbar ul {
    display: flex;
    gap: 40px;
    align-items: center;
    color: white;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    color: white;
}

.navbar button {
    background-color: inherit;
    border: 0.5px white solid;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;

    font-size: 1em;

    cursor: pointer;
    transition: ease-in-out 0.5s;
}

.navbar button:hover {
    background-color: violet;
    color: white;
    border: 0.5px violet solid;
    transition: ease-in-out 0.5s;
}

.header {
    background: rgb(26, 207, 120);
    background: linear-gradient(15deg, lightpink 0%, rgba(0, 212, 255, 1) 100%);
    padding-top: 20px;
}

.section {
    height: fit-content;
    padding: 150px 50px 150px 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section h1 {
    font-size: 4em;
}

.sectionLeft {
    width: 50%;
    color: white;
    display: flex;
    flex-flow: column;
    gap: 40px;
}

sectionRight {
    width: 50%;
}

.sectionLeftTitle {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.sectionLeftTitle h1 {
    margin: 0;
}

.sectionLeft button {
    background-color: violet;
    border: 2px violet solid;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;

    width: fit-content;

    font-size: 1em;

    cursor: pointer;
    transition: ease-in-out 0.5s;
}

.sectionLeft button:hover {
    background-color: transparent;
    color: violet;
    transition: ease-in-out 0.5s;
}

.sectionLeftImages {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.sectionLeftImage {
    background-color: white;
    height: 120px;
    width: 120px;
    border-radius: 20px;
    padding: 10px;

    display: flex;
    justify-content: center;

    transition: ease-in-out 0.5s;
}

.sectionLeftImage:hover {
    background-color: violet;

    transition: ease-in-out 0.5s;
}

.sectionLeftImage img {
    height: auto;
}

footer {
    background: linear-gradient(0deg, white 50%, lightskyblue 100%);
    color: black;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    padding: 100px 0 50px 0;
}

footer li {
    list-style-type: none;
    font-size: 1.1em;
    cursor: pointer;

    transition: ease-in-out 0.2s;
}

footer li:hover {
    color: violet;
}

footer ul {
    align-items: center;
    padding: 0;
}

footer p {
    color: violet;
    font-size: 1.8em;
    margin-bottom: 0;
}

.section2 {
    background-color: lightskyblue;
    height: fit-content;
    padding: 70px 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-radius: 50px 50px 0 0;
    margin: -50px 0px 0px 0px;
}

.section2 img {
    height: 400px;
}

.sectionRight {
    width: 600px;
    text-align: center;
}

.section2 h1 {
    margin: 0;
}

.section2 span {
    color: violet;
    font-size: 1.2em;
    font-style: bold;
}

@media screen and (max-width: 450px) {
    .section h1 {
        font-size: 2em;
    }

    .section {
        padding: 0;
        flex-direction: column;
        margin: 0;
    }

    .section2 {
        padding: 0px;
    }

    .footer {
        flex-direction: col;
        margin: 0;
    }

    .navbar ul {
        display: none;
    }

    .section .sectionRight img {
        display: none;
    }

    .section2 img {
        display: none;
    }

    .navbar {
        align-items: center;
        justify-content: center;
    }

    .sectionLeft {
        align-items: center;
    }

    .sectionLeftImages {
        justify-content: center;
        width: 100%;
    }

    .section2 {
        padding: 50px 20px;
        flex-direction: column;
    }

    footer {
        padding: 50px 0;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
}
