h1 {
    text-align: center;
}

h2 {
    color: red;
}

h3 {
    color: blue;
}

h4 {
    color: yellow;
}

span {
    color: green;
}

.span1 {
    color: purple;
}

.span2 {
    color: orange;
    font-size: 2em;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#span3 {
    color: pink;
    font-weight: 800;
}

#span4 {
    color: brown;
    text-align: center;
}

.div1 {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    border-radius: 100%;
}

.divFlex {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.div2 {
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    border-radius: 10px;
}

.motherDiv2 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: space-around;
    height: 100vh;
    gap: 20px;
}

.motherDivLeft {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
}

.motherDivRight {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-end;
    height: 100vh;
}
